@import '../utils/_variables.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
  margin: 0 auto;
  width: 90vw;
}

.footer {
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-size: 0.7rem;
  position: absolute;
  margin-top: 0.4rem;
  left: 50%;
  transform: translateX(-50%);
}