@import '../utils/variables';


.listCard {
    padding: 0.5rem;
    grid-column: span 1;
    text-align: center;
    font-family: sans-serif;
    background-color: var(--bgColor-default);
    @media only screen and (max-width: $md-max) { 
        grid-column: span 4;
    }
    h4 {
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        font-weight: 100;
        margin: 0.4rem;
        @media only screen and (max-width: $md-max) { 
            font-size: 1rem;
        }
    }
    p {
        font-weight: 100;
        margin: 0.4rem;
    }
    button {
        padding: 0.5rem;
        cursor: pointer;
        font-weight: 200;
        letter-spacing: 0.05rem;
        background-color: var(--bgColor-buttonPrimary);
        border: none;
        margin: 0.4rem;
        transition: 0.4s;
        &:hover {
            background-color: var(--bgColor-buttonPrimary-hover);
        }
    }
    input {
        background-color: white;
        border: none;
        color: black;
    }
    
}